- title = 'MIYAZU DAIZO';
- url = 'https://miyazu-portfolio.netlify.com/index.html'; //仮だけど
- ogp_image_url = 'https://78.media.tumblr.com/407d71d940776ed17ec8e61a8ad45c4c/tumblr_pat7vuh4Ie1vgqeceo1_1280.jpg';
- site_name = 'MIYAZU DAIZO OFFICAIL SITE';
- description = '桐蔭横浜大学スポーツ公立小学校の特別支援学級担任を皮切りに、国公立小学校教諭として２７年間勤める。その後、桐蔭横浜大学准教授を経て現職。小学校国語科教科書の執筆、編集。教育書、児童書などの執筆を行っていたが、２０１４年「ヅカメン！　お父ちゃん達の宝塚」（廣済堂出版）で一般書も書き始める。健康政策学部教授';
- twitter_card_owner = 'blank';