div#miyazu-nav
 ul
  li
   a(href="news.pug") NEWS
  li
   a(href="profile.pug") PROFILE
  li
   a(href="index.pug")
    img(src="../images/logo.png")
  li
   a(href="works.pug") WORKS
  li
   a(href="#") CONTACT