div.dn#miyazu-nav
 ul
  li
   a(href="news.pug") NEW
  li
   a(href="profile.pug") PROFILE
  li
   a(href="index.pug")
    img(src="../images/logo.png")
  li
   a(href="works.pug") WORKS
  li
   a(href="mailto:chanchi0707@gmail.com") CONTACT