div#miyazu-nav.selected
 ul.menus
  li
   a(href="news.pug") NEWS
  li
   a(href="profile.pug") PROFILE
  li.title_logo
   a(href="index.pug")
    img(src="../images/logo_title.png")
  li
   a(href="works.pug") WORKS
  li
   a(href="mailto:chanchi0707@gmail.com") CONTACT