div#miyazu-sns
 ul
  li
   a(href="#")
    img(src="../images/sns_twitter.png")#miyazu-sns-button_twitter
  li
   a(href="#")
    img(src="../images/sns_facebook.png")#miyazu-sns-button_facebook
  li
   a(href="http://toin.ac.jp/univ" target="_blank")
    img(src="../images/sns_uni.png")#miyazu-sns-button_uni