doctype html
include _config.pug
html(lang="ja")
  head
    include _head.pug
  body
    div#fakeLoader
    div.miyazu-nav-hamburger
     div.line.line1
     div.line.line2
     div.line.line3
    div#stage.miyazu-wrapper
     include _header.pug
     include _nav.pug
     div.miyazu-slides.slider-wrapper
      div.miyazu-slides-slide
       svg(viewBox="0 0 0 0")
        defs
         clipPath(id="image-1")
          path(id="changing-path-1" d="M1400,800H0V0h1399c0.6,0,1,0.4,1,1V800z")
        div.slider__info
         p.slider__title.text
          span.text__first
           span.text__word TOIN ROAD to 2020
           span.text__first-bg(style="background-color: #000")
         p.slider__desc.text
          span.text__second
           span.text__word 東京オリンンピック・パラリンピック
           span.text__second-bg(style="background-color: #999")
        a.slide_link(href="https://www.amazon.co.jp/dp/B00O9LVRUI/ref=dp-kindle-redirect?_encoding=UTF8&btkr=1" target="/blank")
        img(src="../images/slide1.jpg" clip-path="url(#image-1)")
      div.miyazu-slides-slide
       svg(viewBox="0 0 0 0")
        defs
         clipPath(id="image-1")
          path(id="changing-path-1" d="M1400,800H0V0h1399c0.6,0,1,0.4,1,1V800z")
        div.slider__info
         p.slider__title.text
          span.text__first
           span.text__word ヅカメン！
           span.text__first-bg(style="background-color: #000")
         p.slider__desc.text
          span.text__second
           span.text__word お父ちゃんたちの宝塚
           span.text__second-bg(style="background-color: #999")
        a.slide_link(href="https://note.mu/8282d8282/n/ncd7a6576d7e0" target="/blank")
        img(src="../images/slide2.jpg" clip-path="url(#image-1)")
      //- div.miyazu-slides-slide
       img(src="../images/slide1.png")
     div#miyazu-banners
      div.miyazu-banner
       a(href="https://note.mu/8282d8282/n/ncd7a6576d7e0" target="/blank")
        img(src="../images/banner1.jpg")
      div.miyazu-banner2
       a(href="https://www.amazon.co.jp/dp/B00O9LVRUI/ref=dp-kindle-redirect?_encoding=UTF8&btkr=1" target="/blank")
        img(src="../images/banner2.jpg" )
     div#miyazu-modal-news
      button#miyazu-modal-button_close ×
      h3#miyazu-modal-title News
      div#miyazu-modal-content1
       p#miyazu-modal-date 2018.07.01
       p#miyazu-modal-content ウェブサイトを公開しました。
      div#miyazu-modal-content2
       p#miyazu-modal-date 2018.06.18
       p#miyazu-modal-content 「TOIN ROAD to TOKYO 2020」にて、第1話を公開しました。
      div#miyazu-modal-content3
       p#miyazu-modal-date 2018.06.18
       p#miyazu-modal-content noteにて「TOIN ROAD to TOKYO 2020」の連載を開始しました。
      a(href="news.pug")#miyazu-modal-button_more もっとみる
     include _footer.pug
    include _scripts.pug