doctype html
include _config.pug
html(lang="ja")
  head
    include _head.pug
  body
    div#fakeLoader
    div.miyazu-nav-hamburger
     div.line.line1
     div.line.line2
     div.line.line3
    div#stage.miyazu-wrapper
     include _header.pug
     include _nav.pug
     div.miyazu-slides.slider-wrapper
      div.miyazu-slides-slide
       svg(viewBox="0 0 0 0")
        defs
         clipPath(id="image-1")
          path(id="changing-path-1" d="M1400,800H0V0h1399c0.6,0,1,0.4,1,1V800z")
        div.slider__info
         p.slider__title.text
          span.text__first
           span.text__word ワイルドでいこう
           span.text__first-bg(style="background-color: #000")
         p.slider__desc.text
          span.text__second
           span.text__word 疾走する車いす
           span.text__second-bg(style="background-color: #999")
        a.slide_link.sli02(href="https://www.amazon.co.jp/%E3%83%85%E3%82%AB%E3%83%A1%E3%83%B3-%E3%81%8A%E7%88%B6%E3%81%A1%E3%82%83%E3%82%93%E3%81%9F%E3%81%A1%E3%81%AE%E5%AE%9D%E5%A1%9A-%E7%A5%A5%E4%BC%9D%E7%A4%BE%E6%96%87%E5%BA%AB-%E5%AE%AE%E6%B4%A5%E5%A4%A7%E8%94%B5/dp/4396346123/ref=sr_1_1?__mk_ja_JP=%E3%82%AB%E3%82%BF%E3%82%AB%E3%83%8A&keywords=%E3%83%85%E3%82%AB%E3%83%A1%E3%83%B3%21&qid=1584708663&sr=8-1" target="/blank")
        a.slide_link.slisp02(href="https://note.mu/8282d8282/n/n12d00e1e0c49" target="/blank")
        img(src="../images/slide4.png" clip-path="url(#image-1)")
      div.miyazu-slides-slide
       svg(viewBox="0 0 0 0")
        defs
         clipPath(id="image-2")
          path(id="changing-path-1" d="M1400,800H0V0h1399c0.6,0,1,0.4,1,1V800z")
        div.slider__info
         p.slider__title.text
          span.text__first
           span.text__word ヅカメン！
           span.text__first-bg(style="background-color: #000")
         p.slider__desc.text
          span.text__second
           span.text__word お父ちゃんたちの宝塚
           span.text__second-bg(style="background-color: #999")
        a.slide_link.sli03(href="https://www.amazon.co.jp/dp/B085Q3RHY1/ref=mp_s_a_1_1?keywords=%E6%B6%99%E3%81%82%E3%81%B5%E3%82%8C%E3%81%A6&qid=1583827820&s=digital-text&sr=1-1&fbclid=IwAR3oTwfz0KXuGhWDMLvSSeB8FbyFq2DS0SulXqTPcbNO4YglASPWvUSXS_Q" target="/blank")
        a.slide_link.slisp03(href="https://note.mu/8282d8282/n/n12d00e1e0c49" target="/blank")
        img(src="../images/slide2.png" clip-path="url(#image-1)")
      div.miyazu-slides-slide
       svg(viewBox="0 0 0 0")
        defs
         clipPath(id="image-3")
          path(id="changing-path-1" d="M1400,800H0V0h1399c0.6,0,1,0.4,1,1V800z")
        div.slider__info
         p.slider__title.text
          span.text__first
           span.text__word 遅れてきたGS
           span.text__first-bg(style="background-color: #000")
         p.slider__desc.text
          span.text__second
           span.text__word A LATE GROUP SOUNDS
           span.text__second-bg(style="background-color: #999")
        a.slide_link.sli04(href="https://note.mu/8282d8282/n/n12d00e1e0c49" target="/blank")
        a.slide_link.slisp04(href="https://www.amazon.co.jp/dp/B085Q3RHY1/ref=mp_s_a_1_1?keywords=%E6%B6%99%E3%81%82%E3%81%B5%E3%82%8C%E3%81%A6&qid=1583827820&s=digital-text&sr=1-1&fbclid=IwAR3oTwfz0KXuGhWDMLvSSeB8FbyFq2DS0SulXqTPcbNO4YglASPWvUSXS_Q" target="/blank")
        img(src="../images/slide3.jpg" clip-path="url(#image-1)" id="ichimaime")
      div.miyazu-slides-slide
       svg(viewBox="0 0 0 0")
        defs
         clipPath(id="image-4")
          path(id="changing-path-1" d="M1400,800H0V0h1399c0.6,0,1,0.4,1,1V800z")
        div.slider__info
         p.slider__title.text
          span.text__first
           span.text__word SPORTSMEN IN
           span.text__first-bg(style="background-color: #000")
         p.slider__desc.text
          span.text__second
           span.text__word TOIN CAMPAS
           span.text__second-bg(style="background-color: #999")
        a.slide_link.sli01(href="https://www.amazon.co.jp/%E3%83%AF%E3%82%A4%E3%83%AB%E3%83%89%E3%81%A7%E3%81%84%E3%81%93%E3%81%86-%E7%96%BE%E8%B5%B0%E3%81%99%E3%82%8B%E8%BB%8A%E3%81%84%E3%81%99-%E7%A5%A5%E4%BC%9D%E7%A4%BE%E6%96%87%E5%BA%AB-%E5%AE%AE%E6%B4%A5%E5%A4%A7%E8%94%B5/dp/439634693X/ref=sr_1_2?dchild=1&qid=1607250701&s=books&sr=1-2" target="/blank")
        a.slide_link.slisp01(href="https://note.com/8282d8282/m/m557c8acc96db" target="/blank")
        img(src="../images/slide1.jpg" clip-path="url(#image-1)")
      //- div.miyazu-slides-slide
       img(src="../images/slide1.png")
     div#miyazu-banners
      div.miyazu-banner
       a(href="https://note.mu/8282d8282/n/ncd7a6576d7e0" target="/blank")
        img(src="../images/banner1.jpg")
      div.miyazu-banner2
       a(href="https://www.amazon.co.jp/dp/B00O9LVRUI/ref=dp-kindle-redirect?_encoding=UTF8&btkr=1" target="/blank")
        img(src="../images/banner2.jpg" )
     div#miyazu-modal-news
      button#miyazu-modal-button_close ×
      h3#miyazu-modal-title News
      div#miyazu-modal-content1
       p#miyazu-modal-date 2020.12.01
       a#miyazu-modal-content(href="https://www.amazon.co.jp/%E3%83%AF%E3%82%A4%E3%83%AB%E3%83%89%E3%81%A7%E3%81%84%E3%81%93%E3%81%86-%E7%96%BE%E8%B5%B0%E3%81%99%E3%82%8B%E8%BB%8A%E3%81%84%E3%81%99-%E7%A5%A5%E4%BC%9D%E7%A4%BE%E6%96%87%E5%BA%AB-%E5%AE%AE%E6%B4%A5%E5%A4%A7%E8%94%B5/dp/439634693X/ref=sr_1_2?dchild=1&qid=1607250701&s=books&sr=1-2" target="_blank") 「ワイルドでいこう 疾走する車いす」の発売が開始しました。
      div#miyazu-modal-content2
       p#miyazu-modal-date 2020.07.27
       a#miyazu-modal-content(href="https://www.edu-ctr.pref.kanagawa.jp/" target="_blank") 神奈川県立教育センター「国語科教育研修講座 読むことの意義を考える」を担当いたします。
      div#miyazu-modal-content3
       p#miyazu-modal-date 2020.07.11
       a#miyazu-modal-content(href="http://toin.ac.jp/univ/" target="_blank") オープンキャンパスオンライン模擬授業「学生と創る楽しい国語の授業」を担当しました。
     include _footer.pug
    include _scripts.pug