doctype html
include _config.pug
html(lang="ja")
  head
    include _head.pug
  body
    div.miyazu-nav-hamburger
     div.line.line1
     div.line.line2
     div.line.line3
    div#stage.miyazu-wrapper
     include _header.pug
     include _nav.pug
     div.miyazu-slides.slider-wrapper
      div.miyazu-slides-slide
       svg(viewBox="0 0 1400 800")
        defs
         clipPath(id="image-1")
          path(id="changing-path-1" d="M1400,800H0V0h1399c0.6,0,1,0.4,1,1V800z")
        div.slider__info
         p.slider__title.text
          span.text__first
           span.text__word ヅカメン！
           span.text__first-bg(style="background-color: #000")
         p.slider__desc.text
          span.text__second
           span.text__word お父ちゃんたちの宝塚
           span.text__second-bg(style="background-color: #999")
        img(src="../images/slide1.png" clip-path="url(#image-1)")
      div.miyazu-slides-slide
       img(src="../images/slide1.png")
      div.miyazu-slides-slide
       img(src="../images/slide1.png")
     div#miyazu-banners
      div#miyazu-banner
       a(href="#")
        img(src="../images/banner1.png")
      div#miyazu-banner
       a(href="#")
        img(src="../images/banner2.jpg")
     div#miyazu-modal-news
      button#miyazu-modal-button_close ×
      h3#miyazu-modal-title News
      div#miyazu-modal-content1
       p#miyazu-modal-date 2018.05.17
       p#miyazu-modal-content 新しいイベントを公開しました。
      div#miyazu-modal-content2
       p#miyazu-modal-date 2018.05.12
       p#miyazu-modal-content 「ROAD TO TOKYO」にて、第1項を公開しました。
      div#miyazu-modal-content3
       p#miyazu-modal-date 2018.05.10
       p#miyazu-modal-content オフィシャルウェブサイトを公開しました。
      a(href="news.pug")#miyazu-modal-button_more もっとみる
     footer#miyazu-footer
       p#miyazu-footer-text ©︎MIYAZU DAIZO All Rights Reserved.
     include _footer.pug
    include _scripts.pug