doctype html
include _config.pug
html(lang="ja")
  head
    include _head.pug
  body
    div#fakeLoader
    div.miyazu-nav-hamburger
     div.line.line1
     div.line.line2
     div.line.line3
    div#stage.miyazu-wrapper
     include _header.pug
     include _nav.pug
     div.miyazu-slides.slider-wrapper
      div.miyazu-slides-slide
       svg(viewBox="0 0 0 0")
        defs
         clipPath(id="image-1")
          path(id="changing-path-1" d="M1400,800H0V0h1399c0.6,0,1,0.4,1,1V800z")
        div.slider__info
         p.slider__title.text
          span.text__first
           span.text__word 遅れてきたGS
           span.text__first-bg(style="background-color: #000")
         p.slider__desc.text
          span.text__second
           span.text__word A LATE GROUP SOUNDS
           span.text__second-bg(style="background-color: #999")
        a.slide_link(href="https://note.mu/8282d8282/n/n12d00e1e0c49" target="/blank")
        img(src="../images/slide3.jpg" clip-path="url(#image-1)" id="ichimaime")
      div.miyazu-slides-slide
       svg(viewBox="0 0 0 0")
        defs
         clipPath(id="image-1")
          path(id="changing-path-1" d="M1400,800H0V0h1399c0.6,0,1,0.4,1,1V800z")
        div.slider__info
         p.slider__title.text
          span.text__first
           span.text__word SPORTSMEN IN
           span.text__first-bg(style="background-color: #000")
         p.slider__desc.text
          span.text__second
           span.text__word TOIN CAMPAS
           span.text__second-bg(style="background-color: #999")
        a.slide_link(href="https://www.amazon.co.jp/dp/B00O9LVRUI/ref=dp-kindle-redirect?_encoding=UTF8&btkr=1" target="/blank")
        img(src="../images/slide1.jpg" clip-path="url(#image-1)")
      div.miyazu-slides-slide
       svg(viewBox="0 0 0 0")
        defs
         clipPath(id="image-1")
          path(id="changing-path-1" d="M1400,800H0V0h1399c0.6,0,1,0.4,1,1V800z")
        div.slider__info
         p.slider__title.text
          span.text__first
           span.text__word ヅカメン！
           span.text__first-bg(style="background-color: #000")
         p.slider__desc.text
          span.text__second
           span.text__word お父ちゃんたちの宝塚
           span.text__second-bg(style="background-color: #999")
        a.slide_link(href="https://note.mu/8282d8282/n/nfdb612bb00c3" target="/blank")
        img(src="../images/slide2.jpg" clip-path="url(#image-1)")
      //- div.miyazu-slides-slide
       img(src="../images/slide1.png")
     div#miyazu-banners
      div.miyazu-banner
       a(href="https://note.mu/8282d8282/n/ncd7a6576d7e0" target="/blank")
        img(src="../images/banner1.jpg")
      div.miyazu-banner2
       a(href="https://www.amazon.co.jp/dp/B00O9LVRUI/ref=dp-kindle-redirect?_encoding=UTF8&btkr=1" target="/blank")
        img(src="../images/banner2.jpg" )
     div#miyazu-modal-news
      button#miyazu-modal-button_close ×
      h3#miyazu-modal-title News
      div#miyazu-modal-content1
       p#miyazu-modal-date 2019.05.21
       a#miyazu-modal-content(href="https://www.edu-ctr.pref.kanagawa.jp/Snavi/kensyuSnavi/31kouzaannnai/kensyuu/390005.html?fbclid=IwAR0Kw_-DKC93zOalpTWsVwhAxPkkDZ74an2SZ2vi7VXRyfsuucSJmPxsUY0" target="_blank") 8月1日神奈川県総合教育センターで読書教育の講座を担当いたします。
      div#miyazu-modal-content2
       p#miyazu-modal-date 2019.02.01
       a#miyazu-modal-content(href="https://note.mu/8282d8282/n/nfdb612bb00c3" target="_blank") 「遅れてきたGS（グループサウンズ）3」をアップいたしました。
      div#miyazu-modal-content3
       p#miyazu-modal-date 2019.01.13
       a#miyazu-modal-content(href="https://note.mu/8282d8282/n/n225eff679129" target="_blank") 「遅れてきたGS（グループサウンズ）2」をアップいたしました。
     include _footer.pug
    include _scripts.pug