doctype html
include _config.pug
html(lang="ja")
  head
    include _head.pug
  body
    div#miyazu-wrapper
     include _header.pug
     div#miyazu-slides
      button#miyazu-slides-button_arrow_left
       img(src="../images/arrow2.png")
      button#miyazu-slides-button_arrow_right
       img(src="../images/arrow.png")
      div#miyazu-slides-slide1
       div#miyazu-slides-slide1-texts
        p#miyazu-slides-slide1-text ヅカメン！
        p#miyazu-slides-slide1-text お父ちゃんたちの宝塚
       hr#b1
       hr#b2
     div#miyazu-banners
      div#miyazu-banner
       a(href="#")
        img(src="../images/banner1.png")
      div#miyazu-banner
       a(href="#")
        img(src="../images/banner2.png")
     div#miyazu-modal-news
      button#miyazu-modal-button_close ×
      h3#miyazu-modal-title News
      div#miyazu-modal-content1
       p#miyazu-modal-date 2018.03.19
       p#miyazu-modal-content ROAD TO TOKYOを更新しました。
      div#miyazu-modal-content2
       p#miyazu-modal-date 2018.03.19
       p#miyazu-modal-content ROAD TO TOKYOの書籍化が決定いたしました。
      div#miyazu-modal-content3
       p#miyazu-modal-date 2018.04.10
       p#miyazu-modal-content Webサイトを公開しました。
      a(href="#")#miyazu-modal-button_more もっとみる
     include _nav.pug
    footer#miyazu-footer
     p#miyazu-footer-text ©︎MIYAZU DAIZO All Rights Reserved.