doctype html
include _config.pug
html(lang="ja")
  head
    include _head.pug
  body
    div.miyazu-nav-hamburger
     div.line.line1
     div.line.line2
     div.line.line3
    div#miyazu-wrapper
     include _header.pug
     include _nav.pug
     div.miyazu-slides
      div.miyazu-slides-slide
       p.slider__title.text
        span.text__first
         span.text__word ヅカメン
         span.text__first-bg(style="background-color: #3A7E94")
       img(src="../images/slide1.png")
      div.miyazu-slides-slide
       img(src="../images/slide1.png")
      div.miyazu-slides-slide
       img(src="../images/slide1.png")
     div#miyazu-banners
      div#miyazu-banner
       a(href="#")
        img(src="../images/banner1.png")
      div#miyazu-banner
       a(href="#")
        img(src="../images/banner2.jpg")
     div#miyazu-modal-news
      button#miyazu-modal-button_close ×
      h3#miyazu-modal-title News
      div#miyazu-modal-content1
       p#miyazu-modal-date 2018.05.17
       p#miyazu-modal-content 新しいイベントを公開しました。
      div#miyazu-modal-content2
       p#miyazu-modal-date 2018.05.12
       p#miyazu-modal-content 「ROAD TO TOKYO」にて、第1項を公開しました。
      div#miyazu-modal-content3
       p#miyazu-modal-date 2018.05.10
       p#miyazu-modal-content オフィシャルウェブサイトを公開しました。
      a(href="news.pug")#miyazu-modal-button_more もっとみる
     footer#miyazu-footer
       p#miyazu-footer-text ©︎MIYAZU DAIZO All Rights Reserved.
     include _footer.pug
    include _scripts.pug