doctype html
include _config.pug
html(lang="ja")
  head
    include _head.pug
  body
    div.miyazu-nav-hamburger
     div.line.line1
     div.line.line2
     div.line.line3
    div.miyazu-wrapper
     include _header.pug
     include _nav.pug
     div#miyazu-news
      h2 NEWS
      div#miyazu-news-content1
       p#miyazu-news-date 2018.07.01
       p#miyazu-news-content ウェブサイトを公開しました。
       a#miyazu-news-button(href="#") 
      hr
      div#miyazu-news-content2
       p#miyazu-news-date 2018.06.18
       p#miyazu-news-content 「TOIN ROAD to TOKYO 2020」にて、第1項を公開しました。
       a#miyazu-news-button(href="https://note.mu/8282d8282" target="/blank") more
      hr
      div#miyazu-news-content3
       p#miyazu-news-date 2018.06.18
       p#miyazu-news-content noteにて「TOIN ROAD to TOKYO 2020」の連載を開始しました。
       a#miyazu-news-button(href="https://note.mu/8282d8282/n/ncd7a6576d7e0" target="/blank") more
      hr
    footer#miyazu-footer
     p#miyazu-footer-text ©︎MIYAZU DAIZO All Rights Reserved.
    include _scripts.pug