doctype html
include _config.pug
html(lang="ja")
  head
    include _head.pug
  body
    div.miyazu-nav-hamburger
     div.line
     div.line
     div.line
    div#miyazu-wrapper
     include _header.pug
     include _nav.pug
     div#miyazu-news
      h2 NEWS
      div#miyazu-news-content1
       p#miyazu-news-date 2018.05.17
       p#miyazu-news-content 大学での新しいイベントの募集を開始しました。
       a#miyazu-news-button(href="#") Read more
      hr
      div#miyazu-news-content2
       p#miyazu-news-date 2018.05.12
       p#miyazu-news-content 「ROAD TO TOKYO」にて、第1項を公開しました。
       a#miyazu-news-button(href="#") Read more
      hr
      div#miyazu-news-content3
       p#miyazu-news-date 2018.05.10
       p#miyazu-news-content オフィシャルウェブサイトを公開しました。
       a#miyazu-news-button(href="#") Read more
      hr
    footer#miyazu-footer
     p#miyazu-footer-text ©︎MIYAZU DAIZO All Rights Reserved.
    include _scripts.pug