doctype html
include _config.pug
html(lang="ja")
  head
    include _head.pug
  body
    div#miyazu-wrapper
     include _header.pug
     div#miyazu-nav
     include _nav.pug
     div#miyazu-news
      h2 NEWS
      div#miyazu-news-content1
       p#miyazu-news-date 2018.03.19
       p#miyazu-news-content ROAD TO TOKYOを更新しました。
       a#miyazu-news-button(href="#") Read more
      hr
      div#miyazu-news-content3
       p#miyazu-news-date 2018.03.19
       p#miyazu-news-content ROAD TO TOKYOを更新しました。
       a#miyazu-news-button(href="#") Read more
      hr
      div#miyazu-news-content2
       p#miyazu-news-date 2018.03.19
       p#miyazu-news-content ROAD TO TOKYOを更新しました。
       a#miyazu-news-button(href="#") Read more
      hr
    footer#miyazu-footer
     p#miyazu-footer-text ©︎MIYAZU DAIZO All Rights Reserved.
    include _scripts.pug