doctype html
include _config.pug
html(lang="ja")
  head
    include _head.pug
  body
    div#fakeLoader
    div.miyazu-nav-hamburger
     div.line.line1
     div.line.line2
     div.line.line3
    div.miyazu-wrapper
     include _header.pug
     include _nav.pug
     div#miyazu-news
      h2 NEWS
      div#miyazu-news-content11
       p#miyazu-news-date 2020.07.27
       p#miyazu-news-content 神奈川県立教育センター「国語科教育研修講座 読むことの意義を考える」を担当します。
       a#miyazu-news-button(href="https://www.edu-ctr.pref.kanagawa.jp/" target="_blank") more
      hr
      div#miyazu-news-content10
       p#miyazu-news-date 2020.07.11
       p#miyazu-news-content オープンキャンパスオンライン模擬授業「学生と創る楽しい国語の授業」を担当しました。
       a#miyazu-news-button(href="http://toin.ac.jp/univ/" target="_blank") more
      hr
      div#miyazu-news-content9
       p#miyazu-news-date 2020.02.06
       p#miyazu-news-content 「立川らく次独演会」にゲストとして出演いたします。
       a#miyazu-news-button(href="https://twitter.com/rakuji_tatekawa/status/1225261926424297475" target="/blank") more
      hr
      div#miyazu-news-content8
       p#miyazu-news-date 2019.05.21
       p#miyazu-news-content 8月1日神奈川県総合教育センターで読書教育の講座を担当いたします。
       a#miyazu-news-button(href="https://www.edu-ctr.pref.kanagawa.jp/Snavi/kensyuSnavi/31kouzaannnai/kensyuu/390005.html?fbclid=IwAR0Kw_-DKC93zOalpTWsVwhAxPkkDZ74an2SZ2vi7VXRyfsuucSJmPxsUY0" target="/blank") more
      hr
      div#miyazu-news-content7
       p#miyazu-news-date 2019.02.01
       p#miyazu-news-content 「遅れてきたGS（グループサウンズ）3」をアップいたしました。
       a#miyazu-news-button(href="https://note.mu/8282d8282/n/nfdb612bb00c3" target="/blank") more
      hr
      div#miyazu-news-content6
       p#miyazu-news-date 2019.01.13
       p#miyazu-news-content 「遅れてきたGS（グループサウンズ）2」をアップいたしました。
       a#miyazu-news-button(href="https://note.mu/8282d8282/n/n225eff679129" target="/blank") more
      hr
      div#miyazu-news-content5
       p#miyazu-news-date 2019.01.06
       p#miyazu-news-content 「遅れてきたGS（グループサウンズ）1」をアップいたしました。
       a#miyazu-news-button(href="https://note.mu/8282d8282/n/n117b47c31ae1" target="/blank") more
      hr
      div#miyazu-news-content4
       p#miyazu-news-date 2018.07.16
       p#miyazu-news-content 7月30日(月)神奈川県立総合教育センターで読書教育研修講座で講師を務めます
       a#miyazu-news-button(href="https://www.edu-ctr.pref.kanagawa.jp/" target="/blank") more
      hr       
      div#miyazu-news-content1
       p#miyazu-news-date 2018.07.016
       p#miyazu-news-content 7月28日(土)/29日(日)桐蔭横浜大学オープンキャンパス 両日ともブースにおります
       a#miyazu-news-button(href="http://toin.ac.jp/ouen/event/open-campus/" target="/blank") more
      hr
      div#miyazu-news-content2
       p#miyazu-news-date 2018.07.01
       p#miyazu-news-content ウェブサイトを公開しました。
       a#miyazu-news-button(href="#") 
      hr
    footer#miyazu-footer
     p#miyazu-footer-text ©︎MIYAZU DAIZO All Rights Reserved.
    include _scripts.pug