doctype html
include _config.pug
html(lang="ja")
  head
    include _head.pug
  body
    div.miyazu-nav-hamburger
     div.line
     div.line
     div.line
    div#miyazu-wrapper
     include _header.pug
     include _nav.pug
     div#miyazu-nav
     div#miyazu-profile
      img#miyazu-profile-image(src="../images/profile.jpg", alt="")
      div.miyazu-profile-text
       h2 宮津 大蔵
       p 桐蔭横浜大学スポーツ健康政策学部教授
       p#miyazu-profole-japan 桐蔭横浜大学スポーツ公立小学校の特別支援学級担任を皮切りに、国公立小学校教諭として27年間勤める。その後、桐蔭横浜大学准教授を経て現職。小学校国語科教科書の執筆、編集。教育書、児童書などの執筆を行っていたが、2014年「ヅカメン！ お父ちゃん達の宝塚」（廣済堂出版）で一般書も書き始める。
      div.miyazu-profile-text
       h2 MIYAZU DAIZO
       p#miyazu-profole-english Started as a special assistant class teacher at the Tung cloth Yokohama University sports public elementary school, 27 years as a teacher at a national public elementary school. To work on time. After that, he took over as an associate professor at TongyeongYokohama University. Writing and editing elementary school textbooks. Educational documents, Writing children's books andthe like was done, but in 2014 "Takarazuka no Oka no Takarazuka" (Kosaido publishing). I also start to write general books. Professor of Faculty of Health Policy.
    footer#miyazu-footer
     p#miyazu-footer-text ©︎MIYAZU DAIZO All Rights Reserved.
    include _scripts.pug