doctype html
include _config.pug
html(lang="ja")
  head
    include _head.pug
  body
    div.miyazu-nav-hamburger
     div.line.line1
     div.line.line2
     div.line.line3
    div.miyazu-wrapper
     include _header.pug
     include _nav.pug
     div#miyazu-profile
      img#miyazu-profile-image(src="../images/profile.jpg", alt="")
      div.miyazu-profile-text
       h2.miyazu-profile-name.miyazu-profile-name1 宮津 大蔵
       p#miyazu-profole-japan 桐蔭横浜大学スポーツ公立小学校の特別支援学級担任を皮切りに、国公立小学校教諭として27年間勤める。その後、桐蔭横浜大学准教授を経て現職。小学校国語科教科書の執筆、編集。教育書、児童書などの執筆を行っていたが、2014年「ヅカメン！ お父ちゃん達の宝塚」（廣済堂出版）で一般書も書き始める。
      div.miyazu-profile-text
       h2.miyazu-profile-name.miyazu-profile-name2 MIYAZU DAIZO
       p#miyazu-profole-english MIYAZU Daizo is professor in the Faculty of Culture and Sport Policy at ToinUniversity of Yokohama. He started his teaching career as the homeroomteacher of a special class in a public elementary school and continued in officein national elementary schools for 27 years. From there, he was transferred tothe position of associate professor at Toin University of Yokohama. He hasauthored and edited elementary school Japanese language textbooks,education books and children’s books, including his first novel, Zuka-Men! MaleStaff in Takarazuka Revue Company, an all-female musical theatre troup(Kosaido Publishing) in 2014.
    footer#miyazu-footer
     p#miyazu-footer-text ©︎MIYAZU DAIZO All Rights Reserved.
    include _scripts.pug