doctype html
include _config.pug
html(lang="ja")
  head
    include _head.pug
  body
    div#miyazu-wrapper
     div#miyazu-nav
     div#miyazu-sns
      ul
       li
        a(href="#") a
       li
        a(href="#") a
       li
        a(href="#") a
    footer#miyazu-footer
     p#miyazu-footer-text ©︎MIYAZU DAIZO All Rights Reserved.