doctype html
include _config.pug
html(lang="ja")
  head
    include _head.pug
  body
    div#fakeLoader
    div.miyazu-nav-hamburger
     div.line.line1
     div.line.line2
     div.line.line3
    div.miyazu-wrapper
     include _header.pug
     include _nav.pug
     div#miyazu-paragraph
      h2#miyazu-paragraph-title WORKS
      p#miyazu-paragraph-text 執筆活動から文章表現のワークショップ、大学での講師など、幅広く制作を手がける。現在、東京オリンピック・パラリンピックの選手を追ったメディア、「TOIN ROAD to 2020」を連載中。
     div#miyazu-works
      div#miyazu-works-big
       a.works_big_1(href="https://note.mu/8282d8282/n/ncd7a6576d7e0" target="/blank")
       svg(viewBox="0 0 1400 800")
        defs
         clipPath(id="image-1")
          path(id="changing-path-2" d="M1400,800H0V0h1399c0.6,0,1,0.4,1,1V800z")
        div.slider__info2
         p.slider__title.text
          span.text__first
           span.text__word TOIN ROAD to 2020
           span.text__first-bg(style="background-color: #000")
         p.slider__desc.text
          span.text__second
           span.text__word 東京オリンンピック・パラリンピック
           span.text__second-bg(style="background-color: #999")
      div#miyazu-works-big2
       a.works_big_1(href="https://www.amazon.co.jp/dp/B00O9LVRUI/ref=dp-kindle-redirect?_encoding=UTF8&btkr=1" target="/blank")
       svg(viewBox="0 0 1400 800")
        defs
         clipPath(id="image-1")
          path(id="changing-path-1" d="M1400,800H0V0h1399c0.6,0,1,0.4,1,1V800z")
        div.slider__info3
         p.slider__title.text
          span.text__first
           span.text__word ヅカメン！
           span.text__first-bg(style="background-color: #000")
         p.slider__desc.text
          span.text__second
           span.text__word お父ちゃんたちの宝塚
           span.text__second-bg(style="background-color: #999")
      //-div.miyazu-works-smalls
       div.miyazu-works-small
       div.miyazu-works-small
    footer#miyazu-footer
     p#miyazu-footer-text ©︎MIYAZU DAIZO All Rights Reserved.
    include _scripts.pug