doctype html
include _config.pug
html(lang="ja")
  head
    include _head.pug
  body
    div.miyazu-nav-hamburger
     div.line
     div.line
     div.line
    div#miyazu-wrapper
     include _header.pug
     include _nav.pug
     div#miyazu-paragraph
      h2#miyazu-paragraph-title WORKS
      p#miyazu-paragraph-text 執筆活動から文章表現のワークショップ、大学での講師など、幅広く制作を手がける。現在、東京パラリンピックの選手を追ったメディア、「ROAD TO 2020」を連載中。
     div#miyazu-works
      div#miyazu-works-big
       p ヅカメン！
      div.miyazu-works-smalls
       div.miyazu-works-small
       div.miyazu-works-small
       div.miyazu-works-small
    footer#miyazu-footer
     p#miyazu-footer-text ©︎MIYAZU DAIZO All Rights Reserved.
    include _scripts.pug