doctype html
include _config.pug
html(lang="ja")
  head
    include _head.pug
  body
    div#miyazu-wrapper
     include _header.pug
     div#miyazu-nav
     include _nav.pug
     div#miyazu-paragraph
      h2#miyazu-paragraph-title WORKS
      p#miyazu-paragraph-text サンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプ
     div#miyazu-works
      div#miyazu-works-big
       p ヅカメン！
      div.miyazu-works-smalls
       div.miyazu-works-small
       div.miyazu-works-small
       div.miyazu-works-small
    footer#miyazu-footer
     p#miyazu-footer-text ©︎MIYAZU DAIZO All Rights Reserved.