/* import file */
@import "./reset.css";
@import "./variables.css";
@import "./lib/slick.css";
@import "./lib/slick-theme.css";

/* responsive  適宜変更 */
$min-width: (min-width: 0) and (max-width: 768px);
$middle-width: (min-width: 0) and (max-width: 768px);
$max-width: (min-width: 769px);

.slider-wrapper{position:relative;overflow-x:hidden}.slider>li{position:absolute;top:0;left:0;width:100%;opacity:0;overflow:hidden}.slider>li.visible{position:relative;z-index:2;opacity:1}.slider>li.visible .text span.text__word{opacity:0}.slider>li.is-animating{z-index:3;opacity:1}.slider__info{margin-left:20%;position:absolute;top:14%;-webkit-transform:translateY(-50%);-ms-transform:translateY(-50%);transform:translateY(-50%);left:0;color:#000}.slider__title{font-weight:300;font-size:24px;margin-bottom:7px;overflow:hidden}.slider__desc span,.slider__title span{display:block}.slider__desc{font-size:10px;overflow:hidden}.slider__site{display:block;font-weight:700;font-size:13px}.slider__visit{display:block;margin-right:32px}.slider__link{padding-right:32px;position:absolute;top:50%;-webkit-transform:translateY(-50%);-ms-transform:translateY(-50%);transform:translateY(-50%);right:32px;color:#fff;text-align:right;font-size:10px;overflow:hidden}.slider__link a{color:#fff;overflow:hidden;display:block}.slider__link a:focus,.slider__link a:hover{text-decoration:none}.slider__link .arrow{position:relative;right:0}.slider image{pointer-events:none;-webkit-transform-origin:50% 50%;-ms-transform-origin:50% 50%;transform-origin:50% 50%}.slider .svg-wrapper{height:0;padding-bottom:57.15%}.slider-wrapper{width:100%;height:-webkit-calc(100% + 9px);height:calc(100% + 9px);padding:0;margin:-9px 0 0;max-width:100%;overflow:hidden}.slider-wrapper ul{margin:0;padding:0;position:absolute;top:0;left:0;right:0;bottom:0;overflow:hidden}.slider-wrapper ul.animate{top:100px;right:120px;left:120px;bottom:100px}.slider-wrapper svg{position:absolute;top:0;left:0;width:100%;height:100%}.slider-navigation li{position:absolute;z-index:3;top:50%;bottom:auto;-webkit-transform:translateY(-50%);-ms-transform:translateY(-50%);transform:translateY(-50%);right:10px;height:48px;width:48px}.slider-navigation li a{display:block;height:100%;overflow:hidden;text-indent:100%;white-space:nowrap;-webkit-transition:-webkit-transform .2s;-o-transition:transform .2s;transition:transform .2s;transition:transform .2s,-webkit-transform .2s}.no-touch .slider-navigation li a:hover{-webkit-transform:scale(1.1);-ms-transform:scale(1.1);transform:scale(1.1)}.slider-navigation li:last-of-type{left:10px;right:auto}.slider-navigation li:last-of-type a{background-position:-48px 0}.slider-controls{position:absolute;bottom:20px;left:50%;right:auto;-webkit-transform:translateX(-50%);-ms-transform:translateX(-50%);transform:translateX(-50%);z-index:3;text-align:center;width:90%;mix-blend-mode:exclusion;-webkit-filter:invert(65%);filter:invert(65%)}.slider-controls::after{clear:both;content:"";display:table}.slider-controls li{display:inline-block;margin-right:10px}.slider-controls li:last-of-type{margin-right:0}.no-touch .slider-controls a:hover,.slider-controls li.selected a{background-color:#fff}.slider-controls a{display:block;overflow:hidden;text-indent:100%;white-space:nowrap;color:transparent;height:10px;width:10px;-webkit-border-radius:50%;border-radius:50%;border:2px solid #fff}


.text__first,.text__second{position:relative}
.text__word{opacity:0}
.text__first-bg,.text__second-bg{display:block;width:120%;height:100%;position:absolute;left:0;top:0;z-index:100;-webkit-transform-origin:left;-ms-transform-origin:left;transform-origin:left;-webkit-transform:scaleX(0);-ms-transform:scaleX(0);transform:scaleX(0)}
.text__first-bg{background-color:#5fbff9}
.text__second-bg{background-color:#f06543}
.textCenter{padding:80px 0}
.textCenter p{font-size:36px;text-align:center}
.cards{padding:60px 0}
.card{height:468px;width:100%;background-repeat:no-repeat;-webkit-background-size:cover;background-size:cover;background-position:50% 50%;float:left}
.card:nth-child(10n+1){width:66.67%}
.card:nth-child(10n+2),
.card:nth-child(10n+3){width:33.33%}
.card:nth-child(10n+4){width:66.67%}
.card:nth-child(10n+5),.card:nth-child(10n+6),
.card:nth-child(10n+7){width:33.33%}
.card:nth-child(10n+8){width:66.67%;height:936px}
.card:nth-child(10n+10),
.card:nth-child(10n+9){width:33.33%}
.form{position:absolute;top:0;left:0;z-index:99999;padding:20px;background:#f9f9f9;opacity:.8}
.form div{margin-bottom:10px}.form input,.form label{display:block;font-size:13px}.form input{padding-left:10px;width:250px}.form span{font-size:11px}

.text__word {
	background-color: #ffffff;
	border: var(--border);
	padding: 2px 12px;
}


/* js用 */
.dn {
	@media screen and $min-width {
		display: none !important;
	}
}

.op {
	@media screen and $min-width {
		opacity: 0 !important;
	}
}

.op1 {
	transform: rotate(45deg) !important;
	top: 5px !important;
}

.op3 {
	transform: rotate(-45deg) !important;
	bottom: 5px !important;
}


/* main */
body {
  background-color: var(--background-color);
  height: 100vh;
  width: 100%;
  font-size: var(--font-size);
  color: #4b4b4b;
  font-family: var(--font-family-base);
  .miyazu-nav-hamburger {
  	display: none;
  	@media screen and $min-width {
  		display: block;
		background-color: #fff;
		border: var(--border);
		border-radius: 50%;
		width: 42px;
		height: 42px;
		position: fixed;
		z-index: 200;
		right: 1px;
		top: 10px;
		line-height: 30px;
		box-sizing: border-box;
		padding: 14px 0px;
		.line {
			height: 1px;
			width: 18px;
			margin: 0 auto 4px;
			background-color: #222222;
			transition: all 500ms ease-out;
		}
		.line1 {
			position: relative;
			transform: rotate(0deg);
			top: 0px;
		}
		.line3 {
			position: relative;
			transform: rotate(-0deg);
			bottom: 0px;
		}
  	}
  }
  #miyazu-wrapper {
  	position: fixed;
  	border: var(--border);
  	width: 94%;
  	height: 92vh;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
  	background-color: #f7f7f7;
  	min-height: 600px;
  	@media screen and $min-width {
  		position: fixed;
  		overflow: scroll;
  		height: 88vh;
  		min-height: initial;
  		-webkit-overflow-scrolling: touch;
  	}
  	#miyazu-nav {
  		width: 900px;
		position: absolute;
		left: 50%;
		transform: translate(-50%, -22px);
		z-index: 100;
		display: flex;
		@media screen and $min-width {
			width: 100%;
			height: 230%;
			transform: initial;
			top: 0;
			left: 0;
			position: fixed;
			background-color: #fff;
			opacity: 0;
			transition: all 400ms ease-out;
	  		&.is-selected {
	  			opacity: 1;
			}
		}
  		ul {
  			@media screen and $min-width { 
  				margin: 4rem auto 0;
  				z-index: 400;
  				width: 86%;
  				height: 60vh;
				transform: translateY(15px);
				position: relative;
				opacity: 0;
				transition: all 400ms ease-out;
		  		&.is-selected {
		  			transform: translateY(0px);
		  			transition-delay: 500ms;
		  			opacity: 1;
				}
  			}
  			li {
  				display: inline;
  				font-size: 0.8rem;
  				background-color: #fff;
  				@media screen and $min-width {
  					background-color: rgba(255,255,255,0);
  					display: block;
  					text-align: center;
  					margin-bottom: 0.4rem;
  				}
  				a {
  					padding: 0.2rem 2rem;
  					border: var(--border);
  					display: inline-block;
  					font-family: 'Amiri', serif;
  					color: #4b4b4b;
  					letter-spacing: 2px;
  					background-color: #fff;
  					@media screen and $min-width {
  						background-color: rgba(255,255,255,0);
  						border: none;
  					}
	  				img {
	  					width: 240px;
	  					@media screen and $min-width {
	  						display: none;
	  					}
	  				}
  				}
  			}
  			li:nth-child(3) {
  				border: none;
  				padding: 0px 1rem;
  				margin: 0px 1rem;
  				@media screen and $min-width { 
  					display: none;
  				}
  				a {
  					border: none;
  				}
  			}
  		}
  	}
  	.miyazu-slides {
  		width: 100%;
  		height: 100%;
  		display: flex;
		justify-content: center;
		align-items: center;
		@media screen and $min-width {
			display: block;
			width: auto;
			height: auto;
			margin-bottom: 3rem;
		}
		.prev-arrow {
			position: relative;
			z-index: 100;
			width: 450px;
			height: 15px;
			left: 140px;
			background-image: url(../images/arrow2.png);
			background-size: cover;
			@media screen and $min-width {
				display: none !important;
			}
		}
		.next-arrow {
			position: relative;
			z-index: 100;
			right: 140px;
			width: 450px;
			height: 15px;
			background-image: url(../images/arrow.png);
			background-size: cover;
			@media screen and $min-width {
				display: none !important;
			}
		}
  		.miyazu-slides-slide {
  			width: 70%;
  			margin: 0 auto;
  			@media screen and $min-width {
  				width: 100%;
  				height: 330px;
  				text-align: center;
  				overflow: hidden;
  				box-sizing: border-box;
				display: flex;
				justify-content: center;
				align-items: center;
				border: var(--border);
				margin: 3rem 0.4rem 0rem;
  			}
  			img {
  				width: 64%;
   				min-width: 700px;
  				margin: 0 auto;
  				border: var(--border);
  				@media screen and $min-width {
  					min-width: initial;
  					width: auto;
  					height: 100%;
  					vertical-align:middle;
  					border: none;
  				}
  			}
  		}
  		#miyazu-slides-button_arrow_left {
  			position: absolute;
			top: 50%;
			left: 15%;
			transform: translate(-50%, -50%);
			@media screen and $min-width {
				display: none;
			}
  			img {
  				width: 40px;
  			}
  		}
  		#miyazu-slides-button_arrow_right {
  			position: absolute;
			top: 50%;
			right: 12%;
			transform: translate(-50%, -50%);
			@media screen and $min-width {
				display: none;
			}
  			img {
  				width: 40px;
  			}
  		}
  	}
  	#miyazu-banners {
  		position: absolute;
  		bottom: 2rem;
  		right: 3rem;
  		@media screen and $min-width {
  			position: static;
  			width: 87%;
  			margin: 0 auto;
  		}
  		#miyazu-banner {
  			a {
  				margin-bottom: 0.7rem;
  				display: block;
  				img {
  					width: 320px;
  					border: var(--border);
  					@media screen and $min-width {
  						width: 100%;
  					}
  				}
  			}
  		}
  	}
  	#miyazu-modal-news {
  		position: absolute;
  		bottom: -1px;
  		left: -1px;
  		border: var(--border);
  		padding: 1.2rem 2rem;
  		color: #4b4b4b;
  		background-color: #ffffff;
  		overflow: hidden;
  		@media screen and $min-width {
  			width: 87%;
  			position: static;
  			padding: 1.4rem;
  			margin: 0 auto 3rem;
  			box-sizing: border-box;
  		}
  		#miyazu-modal-button_close {
  			font-size: 1.2rem;
  			position: absolute;
  			right: 0;
  			top: 0;
  			margin: 1rem 1.5rem;
  			@media screen and $min-width {
  				display: none;
  			}
  		}
  		#miyazu-modal-title {
  			font-size: 1.8rem;
  			font-family: 'Amiri', serif;
  			margin-bottom: 12px;
  			@media screen and $min-width {
  				font-size: 1.3rem;
  				margin-bottom: 0.8rem;
  			}
  		}
  		#miyazu-modal-date {
  			font-family: 'Amiri', serif;
  			font-size: 0.9rem;
  			display: inline-block;
  			margin-right: 1.2rem;
  			margin-left: 1rem;
  			margin-bottom: 0.4rem;
  			@media screen and $min-width {
  				margin-left: 0;
  				margin-bottom: 0;
  				margin-right: 0;
  				line-height: 1;
  				display: block;
  			}
  		}
  		#miyazu-modal-content {
  			font-size: 0.8rem;
  			display: inline-block;
  			@media screen and $min-width {
  				font-size: 0.7rem;
  				line-height: 1.4;
  				margin-bottom: 1rem;
  			}
  		}
  		#miyazu-modal-button_more {
  			font-size: 0.7rem;
  			float: right;
  			color: #4b4b4b;
  		}
  	}
  }
  #miyazu-paragraph {
  	background-color: #ffffff;
  	width: 80%;
  	max-width: 1080px;
  	margin: 0 auto;
  	box-sizing: border-box;
  	padding: 1.2rem 3.6rem 1.4rem;
  	border: var(--border);
  	margin-top: 4rem;
  	display: flex;
  	@media screen and $min-width {
  		width: 87%;
  		margin-top: 3rem;
  		padding: 1rem 0rem 1.7rem;
  		display: block;
  		margin-bottom: 1.4rem;
  	}
  	#miyazu-paragraph-title {
  		font-family: var(--font-family-sub);
  		font-size: 1.8rem;
		transform: translateY(15px);
		position: relative;
		opacity: 0;
		transition: all 400ms ease-out;
  		&.is-selected {
  			transform: translateY(0px);
  			transition-delay: 160ms;
  			position: relative;
  			opacity: 1;
		}
  		@media screen and $min-width {
  			text-align: center;
  		}
  	}
  	#miyazu-paragraph-text {
  		margin-left: 3rem;
  		margin-top: 6px;
  		line-height: 1.7;
  		letter-spacing: 2px;
		transform: translateY(15px);
		position: relative;
		opacity: 0;
		transition: all 400ms ease-out;
  		&.is-selected {
  			transform: translateY(0px);
  			transition-delay: 300ms;
  			position: relative;
  			opacity: 1;
		}
  		@media screen and $min-width {
  			margin-left: 0;
  			width: 90%;
  			margin: 0 auto;
  			text-align: justify;
  		}
  	}
  }
  #miyazu-news {
  	width: 780px;
  	margin: 4rem auto;
  	box-sizing: border-box;
  	border: var(--border);
  	background-color: #ffffff;
  	height: 84%;
  	overflow: scroll;
  	color: #4b4b4b;
  	padding: 0px 4rem;
  	@media screen and $min-width {
  		margin: 3rem auto;
  		width: 87%;
  		padding: 0px 1rem;
  	}
  	hr {
  		background-color: #4b4b4b;
  		border: none;
  		height: 1px;
  		@media screen and $min-width {
  			display: none;
  		}
  	}
  	h2 {
  		text-align: center;
  		font-size: 1.4rem;
  		font-family: var(--font-family-sub);
  		padding: 2rem 0rem;
  		@media screen and $min-width {
  			padding: 1rem 0px 0px;
  		}
  	}
  	#miyazu-news-content1 {
  		transform: translateY(30px);
  		position: relative;
  		opacity: 0;
  		transition: all 400ms ease-out;
  		overflow: hidden;
  		&.is-selected {
  			transform: translateY(0px);
  			transition-delay: 300ms;
  			position: relative;
  			opacity: 1;
		}
  	}
  	#miyazu-news-content2 {
  		transform: translateY(30px);
  		position: relative;
  		opacity: 0;
  		transition: all 400ms ease-out;
  		overflow: hidden;
  		&.is-selected {
  			transform: translateY(0px);
  			transition-delay: 360ms;
  			position: relative;
  			opacity: 1;
		}
  	}
  	#miyazu-news-content3 {
  		transform: translateY(30px);
  		position: relative;
  		opacity: 0;
  		transition: all 400ms ease-out;
  		overflow: hidden;
  		&.is-selected {
  			transform: translateY(0px);
  			transition-delay: 420ms;
  			position: relative;
  			opacity: 1;
		}
  	}
	#miyazu-news-date {
		font-family: 'Amiri', serif;
		font-size: 0.9rem;
		display: inline-block;
		margin-right: 1.2rem;
		margin-top: 1rem;
		margin-bottom: 0.3rem;
		@media screen and $min-width {
			margin-bottom: 0px;
			line-height: 1;
		}
	}
	#miyazu-news-content {
		font-size: 0.8rem;
		display: inline-block;
	}
	#miyazu-news-button {
		color: #4b4b4b;
		float: right;
		font-size: 0.8rem;
		margin-top: 1rem;
		margin-bottom: 0.3rem;
		@media screen and $min-width {
			overflow: hidden;
			margin-top: 0.5rem;
		}
	}
  }
  #miyazu-profile {
  	width: 720px;
  	margin: 0 auto;
  	box-sizing: border-box;
  	padding: 5rem 0px;
  	overflow: scroll;
  	text-align: center;
  	@media screen and $min-width {
  		width: 96%;
  		padding: 3rem 0px;
  	}
  	img {
  		width: 90%;
  		max-width: 640px;
  		border: var(--border);
  		margin-bottom: 1.6rem;
  		transform: translateY(30px);
  		position: relative;
  		opacity: 0;
  		transition: all 400ms ease-out;
  		&.is-selected {
  			transform: translateY(0px);
  			transition-delay: 100ms;
  			position: relative;
  			opacity: 1;
		}
  	}
  	.miyazu-profile-text {
  		text-align: left;
  		margin-bottom: 1.2rem;
  		@media screen and $min-width {
  			width: 90%;
  			margin: 0 auto;
  			text-align: justify;
  		}
  		h2 {
  			font-size: 0.9rem;
  			margin-bottom: 0.3rem;
  			font-weight: bold;
  			transform: translateY(15px);
  			position: relative;
  			opacity: 0;
  			transition: all 400ms ease-out;
  		}
  		.miyazu-profile-name1 {
  			&.is-selected {
	  			transform: translateY(0px);
	  			transition-delay: 400ms;
	  			position: relative;
	  			opacity: 1;
  			}	
  		}
  		.miyazu-profile-name2 {
  			&.is-selected {
	  			transform: translateY(0px);
	  			transition-delay: 540ms;
	  			position: relative;
	  			opacity: 1;
  			}	
  		}
  		/* h2 {
  			transform: translateY(0px);
  			transition-delay: 500ms;
  			position: relative;
  			opacity: 1;
  		} */
  		p {
  			margin-bottom: 0.3rem;
  			font-size: 0.8rem;
  			letter-spacing: 1px;
  			line-height: 1.7;
  			transform: translateY(15px);
  			position: relative;
  			opacity: 0;
  			transition: all 400ms ease-out;
  		}
  		#miyazu-profole-english {
  			font-family: var(--font-family-sub);
  			letter-spacing: 0px;
  			&.is-selected {
	  			transform: translateY(0px);
	  			transition-delay: 580ms;
	  			position: relative;
	  			opacity: 1;
  			}
  		}
  		#miyazu-profole-japan {
  			margin-bottom: 1.4rem;
  			&.is-selected {
	  			transform: translateY(0px);
	  			transition-delay: 440ms;
	  			position: relative;
	  			opacity: 1;
  			}
  		}
  	}
  }
  #miyazu-works {
  	width: 80%;
  	max-width: 1080px;
  	margin: 0 auto;
  	box-sizing: border-box;
  	display: flex;
  	margin-top: 1.5%;
	transform: translateY(30px);
	position: relative;
	opacity: 0;
	transition: all 400ms ease-out;
  	@media screen and $min-width {
  		width: 87%;
  		flex-direction: column;
  		margin-top: 0;
  		padding-bottom: 2rem;
  	}
	&.is-selected {
		transform: translateY(0px);
		transition-delay: 400ms;
		position: relative;
		opacity: 1;
	}
  	#miyazu-works-big {
  		background-color: #fafafa;
  		width: 50%;
  		height: 44vh;
  		margin-right: 2%;
  		flex-basis: 50%;
  		overflow: hidden;
  		cursor: pointer;
  		box-sizing: border-box;
  		border: var(--border);
  		background-image: url(../images/slide1.png);
  		background-position: center;
  		background-size: cover;
  		@media screen and $min-width {
  			flex-basis: 100%;
  			width: 100%;
  			margin-bottom: 1.6rem;
  		}
  	}
  	.miyazu-works-smalls {
  		display: flex;
  		flex-basis: 50%;
  		flex-wrap: wrap;
  		height: 46vh;
  		@media screen and $min-width {

  		}
	  	.miyazu-works-small {
	  		align-items: flex-end;
	  		background-color: #fafafa;
	  		width: 48%;
	  		margin-right: 3%;
	  		cursor: pointer;
	  		margin-bottom: 3%;
	  		box-sizing: border-box;
	  		border: var(--border);
	  		background-image: url(../images/slide1.png);
	  		background-position: center;
	  		background-size: cover;
	  	}
	  	.miyazu-works-small:nth-child(2n) {
	  		margin-right: 0px;
	  		width: 49%;
	  	}
  	}
  }
  #miyazu-footer {
  	position: absolute;
  	top: 50%;
  	left: -140px;
  	transform: rotate(90deg);
  	#miyazu-footer-text {
  		font-size: 0.8rem;
  		color: #ABABAB;
  		font-family: 'Amiri', serif;
  	}
  }
  #miyazu-sns {
  	position: absolute;
  	top: 40%;
  	right: -23px;
  	@media screen and $min-width {
  		z-index: 300;
  		display: flex;
  		right: 50%;
  		transform: translate(50%, -50%);
  		top: 48%;
  		position: fixed;
  	}
  	ul {
  		margin: 0 auto;
  		@media screen and $min-width {
			transform: translateY(15px);
			position: relative;
			opacity: 0;
			transition: all 400ms ease-out;
	  		&.is-selected {
	  			transform: translateY(0px);
	  			transition-delay: 640ms;
	  			position: relative;
	  			opacity: 1;
			}
		}
	  	li {
	  		@media screen and $min-width {
	  			float: left;
	  		}
		  	a {
		  		display: block;
		  		text-align: center;
		  		border: var(--border);
		  		width: 46px;
		  		height: 46px;
		  		line-height: 60px;
		  		border-radius: 50%;
		  		background-color: #ffffff;
		  		margin-bottom: 0.9rem;
		  		@media screen and $min-width {
		  			width: 36px;
		  			height: 36px;
		  			line-height: 42px;
		  			margin-right: 14px;
		  		}
		  		#miyazu-sns-button_twitter {
		  			width: 1.4rem;
		  			@media screen and $min-width {
		  				width: 1rem;
		  			}
		  		}
		  		#miyazu-sns-button_facebook {
		  			width: 0.9rem;
		  			@media screen and $min-width {
		  				width: 0.6rem;
		  			}
		  		}
		  		#miyazu-sns-button_uni {
		  			width: 1.6rem;
		  			@media screen and $min-width {
		  				width: 1.1rem;
		  			}
		  		}
		  	}
	  	}
	  	li:last-child {
	  		@media screen and $min-width {
	  			margin: 0;
	  		}
	  	}
  	}
  }
}





