/* color */
$bg: #ffffff;
$grey: #333;


/* original */
$border : 1px #4b4b4b solid;


/* design */


/* font */
$font-size-base: 14px;
$font-family-base: "Sawarabi Mincho";
$font-family-sub: 'Amiri', serif;
@import url('https://fonts.googleapis.com/css?family=Amiri');


/* 初期化用 */
a{text-decoration: none;color: #000;}
button{background-color: transparent;border: none;cursor: pointer;outline: none;padding: 0;appearance: none;}


/* root */
:root{
  --background-color: $bg;
  --font-color: $grey;
  --font-family-base: $font-family-base;
  --font-family-sub: $font-family-sub;
  --border: $border;
  --font-size: $font-size-base;
}